<h1>Welcome, <%= @user.name %>!</h1>

<%= render 'layouts/messages' %>

<h4>Licks of the Day</h4>
<%= render partial: 'home_info', locals: {user: @user, collection: @licks_of_the_day} %>

<h4>Overdue Licks</h4>
<%= render partial: 'home_info', locals: {user: @user, collection: @overdue} %>

<h4>Sloppiest Licks</h4>
<%= render partial: 'home_info', locals: {user: @user, collection: @sloppiest} %>

<h4>New Backing Tracks</h4>
<%= render partial: 'home_info', locals: {user: @user, collection: @newest_bt} %>
