<h1>Sign In</h1>

<%= render partial: 'layouts/errors', locals: {object: @user} %>
<%= render 'layouts/messages' %>

<%= form_for @user, url: sessions_url, method: 'post' do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email %><br>
  <%= f.label :password %>
  <%= f.password_field :password %><br>
  <%= f.submit "Sign In" %>
<% end %>

<%= link_to "Log in with Facebook", '/auth/facebook' %>
