<h2><%= @user.name %><% if @user.admin %> (admin)<% end %></h2>

<%= render 'layouts/messages' %>

<% if @user.image %><img src="<%= @user.image %>"><% end %>

<h3>Information</h3>
<ul>
  <% @user.attributes.each do |key, value| %>
    <% if !value.nil? && @user.wanted_attr_for_list(key, value) %>
      <% if key == "location_id" %>
        <li><strong>Location:</strong> <%= @user.location.name %></li>
      <% else %>
        <li><strong><%= key.capitalize %>:</strong> <%= value %></li>
      <% end %>
    <% end %>
  <% end %>
  <li><strong>Number of Licks:</strong> <%= @user.lick_count %></li>
  <li><strong>Number of Tunes:</strong> <%= @user.tune_count %></li>
</ul>
<% if current_user == @user %><%= link_to "Edit Information", edit_user_path %><br><% end %>
<%= link_to "See all users", users_path %>
