<h2><%= backing_track_header(@backing_tracks) %></h2>

<% @backing_tracks.each do |bt| %>
  <li><%= link_to bt.name, backing_track_path(bt) %><%= artist_name(bt) %></li>
<% end %><br>

<%= button_to "Add a new backing track", new_user_backing_track_path(@user), method: 'get' %><br>

<%= my_backing_tracks_button(params) %>
