<h2>My Licks</h2>

<%= render 'layouts/messages' %>

<div id="licks"></div>

<div id="filter-and-sort-form"></div>

<%= button_to "Add a new lick", new_user_lick_path(@user), method: 'get' %><br>

<script id="sort-form-template" type="text/x-handlebars-template">
  <%= form_tag(user_licks_path(@user), method: 'get', id: 'filter-form') do %>
    <%= label_tag "Filter by:" %>
    <%= select_tag :filter, grouped_options_for_select(Lick.grouped_options(@user)), {include_blank: true} %>
    <%= label_tag "Sort by:" %>
    <%= select_tag :sort, options_for_select(Lick::SORT_OPTIONS), {include_blank: true} %><br><br>
    <%= submit_tag "Filter and Sort" %><br><br>
  <% end %>
</script>

<script id="unsorted-licks-template" type="text/x-handlebars-template">
  <ul>
    {{#each this}}
      {{> tonality-list-items}}
    {{/each}}
  </ul>
</script>

<script id="last-practiced-licks-template" type="text/x-handlebars-template">
  <ul>
    {{#each this}}
      {{> last-practiced-list-items}}
    {{/each}}
  </ul>
</script>

<script id="scheduled-practice-licks-template" type="text/x-handlebars-template">
  <ul>
    {{#each this}}
      {{> scheduled-practice-list-items}}
    {{/each}}
  </ul>
</script>

<script id="tonality-list-items" type="text/x-handlebars-template">
  <li><a href="/users/{{user_id}}/licks/{{id}}" class="lick-list-items" data-id="{{id}}" data-user_id="{{user_id}}">{{name}}</a> {{#tonalities this}}{{/tonalities}}</li>
</script>

<script id="sort-with-headers-template" type="text/x-handlebars-template">
  {{#each this}}
    <li><a href="/users/{{user_id}}/licks/{{id}}" class="lick-list-items" data-id="{{id}}" data-user_id="{{user_id}}">{{name}}</a></li>
  {{/each}}
</script>

<script id="last-practiced-list-items" type="text/x-handlebars-template">
  <li><a href="/users/{{user_id}}/licks/{{id}}" class="lick-list-items" data-id="{{id}}" data-user_id="{{user_id}}">{{name}}</a> {{#lastPracticedDate this}}{{/lastPracticedDate}}</li>
</script>

<script id="scheduled-practice-list-items" type="text/x-handlebars-template">
  <li><a href="/users/{{user_id}}/licks/{{id}}" class="lick-list-items" data-id="{{id}}" data-user_id="{{user_id}}">{{name}}</a> {{#scheduledPracticeDate this}}{{/scheduledPracticeDate}}</li>
</script>
