<h2>My Licks</h2>

<%= render 'layouts/messages' %>

<div id="licks"></div>
  <!-- Rendering licks via erb for initial index#licks requests -->
  <!-- <%= render_sorted_view(@user, @licks, params) %><br> -->

<%= form_tag(user_licks_path(@user), method: 'get', id: 'filter-form') do %>
  <%= label_tag "Filter by:" %>
  <%= select_tag :filter, grouped_options_for_select(Lick.grouped_options(@user)), {include_blank: true} %>
  <%= label_tag "Sort by:" %>
  <%= select_tag :sort, options_for_select(Lick::SORT_OPTIONS), {include_blank: true} %><br><br>
  <%= submit_tag "Filter and Sort" %><br><br>
<% end %>

<%= button_to "Add a new lick", new_user_lick_path(@user), method: 'get' %><br>

<script id="unsorted-licks-template" type="text/x-handlebars-template">
  <ul>
    {{#each this}}
      {{> tonality-list-items}}
    {{/each}}
  </ul>
</script>

<script id="tonality-list-items" type="text/x-handlebars-template">
  <li><a href="/users/{{user_id}}/licks/{{id}}">{{name}}</a> {{#tonalities this}}{{/tonalities}}</li>
</script>

<script id="tonality-sort-licks-template" type="text/x-handlebars-template">
  {{#each this}}
    <li><a href="/users/{{user_id}}/licks/{{id}}">{{name}}</a></li>
  {{/each}}
</script>
